<%- layout('layouts/boilerplate') %>

<div class="container my-3">
  <div class="row">
    <%for(let product of products){ %>
    <div class="col mx-0">
      <div class="card my-2" style="width: 18rem">
        <%if(product.img1){ %>
        <a href="/products/<%= product._id %> ">
          <img src="<%= product.img1 %> " class="d-block w-100" alt="..." />
        </a>
        <% }else if(product.img2){ %>
        <a href="/product/<%= product._id %> ">
          <img src="<%= product.img2 %>" class="d-block w-100" alt="..." />
        </a>
        <% }else if(product.img3){ %>
        <a href="/product/<%= product._id %> ">
          <img src="<%= product.img3 %>" class="d-block w-100" alt="..." />
        </a>
        <% } %>

        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <h6 class="card-title"><%= product.size.toUpperCase() %></h6>
          <h6 class="card-title">Rs.<%= product.price %></h6>
          <p class="card-text"><%= product.description %></p>
          <div class="btn-group mx-5" role="group" aria-label="Basic example">
            <a href="/cart/add/<%= product._id %> " class="btn btn-primary"
              >Add one to cart</a
            >
          </div>
        </div>
      </div>
    </div>

    <%} %>
  </div>
</div>
